@import "@/scss/base/mixins";
@import "@/scss/base/vars";
.inner {
    margin-top: 100px;
}
.component_title {
    font-family: var(--font-alumni);
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 100%;
    display: flex;
    align-items: start;

    color: $color-white;
}
.list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.element {
    position: relative;
    width: 200px;
    height: 600px;
    transition: width 0.3s ease-out;
    &.active {
        transition: width 0.3s ease-out;
        width: 655px;
    }
    overflow: hidden;
}
.bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.textBlock {
    position: absolute;
    bottom: 0;
    padding: 30px;
}
.description {
    font-family: var(--font-montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 10px;
    color: $color-white;
}
.withoutTitle {
    opacity: 0;
    width: 540px;
    transition: all 0.15s ease-out;
    margin-bottom: 0px;
    &.active {
        margin-bottom: 40px;
        opacity: 1;
        transition: all 0.15s ease-out;
    }
}
.title {
    font-family: var(--font-alumni);
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    width: 540px;
    color: $color-white;

    transform: rotate(-90deg);
    transform-origin: 70px;
    transform: rotate(-90deg);
    transition: all 0.3s ease-out;
    &.active {
        opacity: 1;
        transform: rotate(0deg);
        transition: all 0.3s ease-out;
    }
}
.link {
    font-family: var(--font-montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;

    color: $color-white;
    text-decoration: underline;
}
.componentSubtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;

    color: $color-white;
}
.upperBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
}
.titles{
    width: 570px;
    
}